PORT=5000
MONGO_URI=mongodb+srv://expense_api:YOUR_REAL_PASSWORD@cluster0.xxxxx.mongodb.net/expense_tracker?retryWrites=true&w=majority
JWT_SECRET=super_secret_change_this_later
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development